[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.Calculator
Exec=/usr/bin/ru.auroraos.Calculator
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=Calculator
ExecDBus=/usr/bin/ru.auroraos.Calculator
